.type-dropdown {
  min-width: 1050px;
  top: 38px;
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  background: #000;
  z-index: 2;
  // height: 200px;
  // background: pink;
  .innerDropdown {
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 0 auto;
    width: 1330px;
    min-width: 1100px;
  }
  .leftPanel {
    // display: flex;
    padding: 10px 0;
    margin-right: 35px;
    width: 325px;
    height: 100%;
    box-sizing: border-box;
    min-height: 468px;
    .tag-title {
      display: inline-block;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
    }
    .tag-wrap {
      padding-bottom: 15px;
      .tag {
        &:hover {
          text-decoration: none;
          background-color: #2f2f2f;
        }
        margin: 0 8px 8px 0;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        color: #fff;
        display: inline-block;
        width: 47%;
        text-align: center;
        padding: 13px 0;
        background-color: #141414;
      }
    }
  }
  .headerSubMenu {
    padding-top: 10px;
    flex: 1;
    display: flex;
    justify-content: space-around;

    .innerHeaderSubMenu {
      flex: 1;
    }
    .innerWideMenu {
      flex: 4;
    }
    .tag-title {
      display: inline-block;
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
    }
    .tag-wrap {
      padding-bottom: 15px;
      .tag {
        &:hover {
          text-decoration: none;
          background-color: #2f2f2f;
        }
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        padding: 8px 18px;
        background: #1b1b1b;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        text-transform: capitalize;
        white-space: nowrap;
        display: inline-block;
        margin: 3px 2px;
      }
    }
    .sub-link {
      // &:hover {
      //   .type {
      //     text-decoration: underline;
      //   }
      // }
      margin-bottom: 15px;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
    }
    .catHeaderSubMenu {
      display: grid;
      grid-template-columns: repeat(6, 118px);
      grid-template-rows: repeat(3, 88px);
      grid-gap: 10px;
      width: 100%;
      justify-items: center;
    }
    .tone {
      position: relative;
      .tone-link {
        display: block;
        width: 100%;
        height: 100%;
      }
      .tone-img {
        width: 100%;
        height: 100%;
      }
      .tone-info {
        position: absolute;
        padding: 5px 0;
        bottom: 0;
        left: 6px;
        overflow: hidden;
        color: #c7c7c7;
        width: 95%;
        white-space: normal;
        font-weight: 700;
        z-index: 5;
        font-size: 10px;
        strong {
          display: block;
          font-size: 12px;
          color: #fff;
        }
        var {
          color: #c7c7c7;
          white-space: normal;
          font-weight: 700;
          z-index: 5;
          font-size: 10px;
        }
      }
    }
  }
}
