.hot-video{
  &:last-child{
    margin-bottom: 15px;
  }
  margin-top: 15px;
  display: grid;
  grid-template-columns: 160px auto;
  .phimage{
    &:hover{
      .preloadLine{
        left: 0;
      }
      .free{
        display: none;
      }
      .img{
        display: none;
      }
      .video-pre{
        display: block;
      }
    }
    position: relative;
    overflow: hidden;
    .preloadLine{
      background: #f90;
      left: -100%;
      position: absolute;
      top: 0;
      height: 2px;
      width: 100%;
      z-index: 2;
      transition: all 0.3s;
    }
    .link{
      position: relative;
      display: block;
      height: 90px;
      color: #ff9000;
      background: #000;
    }
    .video-pre{
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% + 1px);
      height: 100%;
    }
    .img{
      width: 99.7%;
      height: 100%;
      display: block;
    }
    .free{
      position: absolute;
      right: 58px;
      bottom: 7px;
      display: flex;
      align-items: center;
      margin: 0 0 6px 6px;
      background: rgba(27,27,27,.8);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      color: #c6c6c6;
      font-weight: 700;
      margin: 0 0 0 3px;
      padding: 3px 6px 2px 0;
      font-size: 13px;
      line-height: 13px;
      .free-icon{
        margin-right: 3px;
        color: #f90;
      }
    }
    .time{
      position: absolute;
      right: 0;
      bottom: 0;
      padding-right: 7px;
      padding-bottom: 1px;
      color: #fff;
      z-index: 5;
      cursor: default;
      background: rgba(27,27,27,.8);
      border-radius: 1.8px;
      padding: 2px 6px;
      font-size: 13px;
      color: #c6c6c6;
      cursor: default;
      margin: 0 6px 6px 6px;
    }
    .none{
      display: none;
    }
  }
  .msg{
    margin-left: 10px;
    margin-top: 7px;
    .v-title{
      display: block;
      margin-bottom: 6px;
      line-height: 17px;
      max-height: 36px;
      word-break: break-word;
      word-wrap: break-word;   
      overflow: hidden;
      .link{
        &:hover{
          color: #ff9000;
        }
        font-size: 15px;
        line-height: 17px;
        color: #c6c6c6;
      }
    }
    .name-wrap{
      .name{
        &:hover{
          color: #ff9000;
        }
        font-size: 14px;
        color: #969696;
      }
      .icon{

      }
    }
    .view{
      font-size: 14px;
      color: #969696;
    }
  }
}