.headerwrap {
  color: #000000;
  :global .networkBarWrapper {
    min-height: 22px;
  }
  :global .networkBar {
    min-width: 991px;
    max-width: 1323px;
    width: 96%;
    margin: 0 auto;
    background: #000000;
    height: 22px;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  :global .networkListContent {
    display: inline-block;
    text-align: left;
    margin: 0;
  }
  :global .networkListContent li {
    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    vertical-align: top;
  }
  :global .networkListContent .networkTab {
    color: #969696;
    text-transform: uppercase;
    padding: 5px 24px;
    font-size: 11px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    box-sizing: border-box;
  }
  :global .networkListContent > li > .networkTab {
    height: 22px;
  }
  :global .networkListContent > li > .networkTab:hover {
    color: #c6c6c6;
  }

  :global .search-wrap {
    background-color: #0e0e0e;
  }
  :global .header-in {
    display: flex;
    align-items: center;
    min-width: 991px;
    max-width: 1323px;
    width: 96%;
    margin: 0 auto;

    :global .left {
      display: flex;
      align-items: center;
      width: 280px;
      :global .desktopNavigation {
        display: flex;
        align-items: center;
        height: 60px;
        margin-right: 20px;
        cursor: pointer;
      }
      :global .hamburgerIcon {
        color: #ff9000;
        font-size: 28px;
      }
      :global .logo {
        width: 150px;
        height: 40px;
      }
    }
    :global .mid-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      :global .play-square {
        &:hover {
          color: #fff;
        }
        margin-left: 30px;
        margin-right: 14px;
        color: #c6c6c6;
        font-size: 28px;
        cursor: pointer;
      }
      :global .camera {
        &:hover {
          color: #fff;
        }
        color: #c6c6c6;
        font-size: 28px;
        cursor: pointer;
      }
    }
    :global .mid {
      flex: 1;
      display: flex;
      align-items: center;
      height: 40px;
      background-color: #252525;
      border-radius: 20px;
      :global .search {
        margin-left: 10px;
        margin-right: 5px;
        font-size: 20px;
        color: #fff;
      }
      :global .input-wrap {
        flex: 1;
        position: relative;
      }
      :global .hot {
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        &.show {
          display: block;
        }
        // background-color: red;
        :global .title {
          padding-top: 5px;
          color: #fff;
          font-weight: 700;
          cursor: default;
          padding: 30px 5px 0 23px;
          font-size: 19px;
          margin-bottom: 0.5em;
          position: relative;
        }
        :global .item {
          &:hover {
            color: #fff;
            background-color: #111;
          }
          padding-right: 12px;
          line-height: 1.3;
          position: relative;
          font-size: 15px;
          padding: 4px 20px 4px 23px;
          color: #c6c6c6;
          display: block;
          cursor: pointer;
        }
      }
      :global .ant-input-affix-wrapper-lg {
        // line-height: 1;
        height: 40px;
      }
      :global .ant-select-selection-placeholder {
        color: rgb(150, 150, 150);
      }
      :global .ant-select-selection-search-input {
        color: #fff !important;
      }
      :global .ant-select-clear {
        // background-color: red !important;
        border-radius: 50%;
      }

      // :global .ant-input-affix-wrapper .ant-input-prefix {
      //   margin-inline-end: 4px;
      //   color: #fff;
      //   font-size: 20px;
      //   margin-right: 12px;
      // }
      // :global  .ant-input-affix-wrapper >input.ant-input {
      // &::placeholder{
      //   color: rgb(150, 150, 150);
      // }
      // color: #fff;
      // font-size: 14px;
    }
    :global .right {
      display: flex;
      justify-content: flex-end;
      width: 235px;
      :global .user {
        &:hover {
          color: #fff;
        }
        color: #c6c6c6;
        font-size: 28px;
        cursor: pointer;
      }
      :global .global {
        margin-right: 10px;
      }
    }
  }
  :global .headerMenuContainer {
    position: relative;
    border-top: 1px solid #0e0e0e;
    :global .headerMainMenuInner {
      background: #0e0e0e;
    }
    :global .headerCampaignDiv {
      margin: 0 auto;
      min-width: 991px;
      max-width: 1323px;
      width: 96%;
    }
    :global .headerMainMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }
    :global .menuItem {
      &:hover{
        background: #191919;
        border-top: 1px solid #252525;
        border-left: 1px solid #252525;
        border-right: 1px solid #252525;
      }
      display: flex;
      // justify-content: center;
      // align-items: center;
      width: 100%;
      height: 100%;
      border-top: 1px solid #0e0e0e;
      border-left: 1px solid #0e0e0e;
      border-right: 1px solid #0e0e0e;
    }
    :global .menuItem.nohover {
      &:hover{
        background: #0e0e0e;
        border-top: 1px solid #0e0e0e;
        border-left: 1px solid #0e0e0e;
        border-right: 1px solid #0e0e0e;
      }
    }
    :global .menuItem1:hover{
      .menuItemInner{
        display: block !important;
      }
    } 
    :global .link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
    }
    :global .icon{
      margin-left: 5px;
    }
    :global .activeLine{
      width: 100%;
      height: 4px;
      background: #f90;
      display: block;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
    :global .disShow{
      display: none;
    }
  }
  :global .sectionWrapper{
    min-width: 991px;
    max-width: 1323px;
    width: 96%;
    margin: 0 auto;
    background: #000000;
    margin-bottom: 20px;
  }
  :global .headertitle {
    padding: 15px 11px 15px 0px;
    color: #fff;
    font-size: 12pt;
  }
}
