.menu-slider {
  width: 100%;
  .swiper-slide {
    width: auto; /*根据内容调整宽度*/
  }
  .swiper-button-prev,.swiper-button-next{
    &:hover{
      background-color: #2f2f2f;
    }
    &::after{
      font-size: 24px;
    }
    width: 44px;
    height: 44px;
    color: #fff;
    // background-color: red;
    border-radius: 22px;
  }
  .swiper-button-prev{
    left: 2px;
  }
  .swiper-button-next{
    right: 2px;
  }
  .nav-item {
    &:hover {
      text-decoration: none;
      background-color: #212121;
    }
    margin-right: 5px;
    display: block;
    padding: 10px 15px;
    background-color: #151515;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #212121;
    transition: background-color .5s cubic-bezier(.05,0,0,1);
  }
}
