.login-comp{
  .ant-modal-close-x{
    color: #6a6a6a;
    font-size: 14px;
  }
  .ant-modal-content{
    // background: #151515;
  }
  .logo{
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    width: 114px;
  }
}